
*{
  margin: 0;
  padding: 0;
}
.mj-body{
  width: 100%;
  min-height: 100vh;
  font-family: 'Source Sans 3', sans-serif;
  background-color:rgb(249, 243, 239);
}


/* inställningar till min header där jag anvädner loggan
  som layla tog fram till gruppen */
.mj-head{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  padding-bottom: 2%;
  border-bottom: 4px solid orange; 
}
.mj-head-link{
  width: fit-content;
  height: fit-content;
  border-radius: 1em;
  border: 1px solid gray;
  background-color: rgb(252, 251, 251);
  padding: 1%;
  color: gray;
}
.mj-bild-buzios{
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20%;
  margin-top: 3%;
  background-image: url(images_mj/brazil-natur.jpg);
  border-radius: 0.2rem;
}



/* här startar mj-main */
.mj-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 8%;
  background-color: rgb(249, 243, 239);
}
.mj-main{
  background-color: white;
  opacity: 0.9;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: -5%;
  border-radius: 0.2em;
  justify-content: center;
  padding: 5%;
  box-shadow: 1px 1px 8px rgb(202, 201, 201);
}
.mj-main-intro h1{
  text-decoration: underline orange;
}
.mj-main-intro{
  border-bottom: 1px solid rgb(156, 154, 154);
  padding: 3%;
  margin-bottom: 8%;
  text-align: center;
}
/* vecka 1 */
.mj-vecka-1 h4{
  border-bottom: 2px solid orange;
  display: inline;
}
.mj-vecka-1{
  margin-bottom: 8%;
  border-bottom: 1px solid gray;
  line-height: 2;
}
.mj-vecka-1-images img{
  padding: 1%;
}
.mj-vecka-1-images img:hover{
  transform: scale(1.4);
}
/* mj-vecka-2 */
.mj-vecka-2 h4{
  border-bottom: 2px solid orange;
  display: inline;
}
.mj-vecka-2{
  line-height: 2;
  margin-bottom: 6%;
  border-bottom: 1px solid gray;
  padding: 2%;
}
/* mj-vecka-3 */
.mj-vecka-3{
  padding: 2%;
  line-height: 2;
}
.mj-vecka-3 img{
  gap:1rem;
}
.mj-vecka-3 h4{
  border-bottom: 2px solid orange;
  display: inline;
}
.mj-vecka-3-image1:hover,.mj-vecka-3-image2:hover,.mj-vecka-3-blå-grotta:hover,.mj-vecka-3-blå-linbana:hover{
  transform: scale(1.4);
}


/* mj-råd-text */
.mj-råd h5{
  border-bottom: 2px solid orange;
  font-size: 2rem;
  text-align:center;
  padding-bottom: 2%;
}
.mj-råd-text{
  text-wrap: balance;
  text-align: center;
  padding-top: 3%;
  line-height: 1.5;
}
.mj-råd{
  padding: 5%;
  padding-top: 10%;
  line-height: 1.5;
}


/* mj-råd-grid */
/* inställningar för min container för att centrera bilderna med mer */
.mj-grid-wraper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 15%;
  margin-top: 7%;
  padding: 3%;
}
.mj-wraper{
  position: relative;
  overflow: hidden;
}
.mj-wraper img{
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.mj-content-wrap{
  position: absolute;
  inset: 0;
  font-size: 1.1rem;
  padding: 4%;
  background: rgba(255, 255, 255, 0.4);
  padding-top: 5%;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
} 
/* här sätter jag mitt blir och fade och zoom och grå skala */
.mj-wraper img,.mj-content-wrap{
  transition: 200ms ease-in-out;
} 
.mj-wraper:hover img.blur {

  filter: blur(15px);
}
.mj-wraper:hover img.gray {
  filter: grayscale(0.8);
}
.mj-wraper:hover img.zoom {
  transform: scale(1.1);
}
/* här ser jag till att texten kommer in och ut vid hoover */
.mj-wraper .mj-content-wrap, .fade {
  opacity: 0;
}
.mj-wraper:hover .mj-content-wrap, .fade {
  opacity: 1;
}


/* mj-boka-form */
.mj-boka-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 1px 8px rgb(184, 183, 183);
  padding: 5%;
  padding-bottom: 10%;
  background-color: white;
  margin-bottom: 5%;
  flex-wrap: wrap;
}


/* mj-footer */
.mj-footer{
  border-top: 4px solid orange;
  padding-top: 4%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
.mj-footer-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10rem;
  white-space: nowrap;
  font-size: 1.2rem;
}
.mj-månadsbrev h6{
  font-size: 1rem;
  line-height: 0;
}
.mj-footer-icons{
  font-size: 2rem;
}

/* länkar inställningar för minna länkar */
a link{
  color: gray;
}
a:visited{
  color: black;
}
a:hover{
  color: blue;
}




/* Ny HTML sida för mj-rio */

/* här sätter jag minna inställningar till min header, jag 
har samma inställningar på min heder som på de andra siderna
för att hålla designen samma */

.mj-content-rio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.mj-content-bägare-rio{
  display: flex;
  justify-content: center;
  text-wrap: wrap;
  text-align:left;
}
.mj-main-text-rio h1{
  border-bottom: 3px solid orange;
  display:inline;
}
.mj-box-rio{
  width: 80%;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: -10%;
  margin-top: -5%;
  opacity: 0.9;
  border-radius: 0.5em;
  padding: 2%;
  text-wrap: wrap;
  text-align: left;
}
.mj-bild-rio-hotel{
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20%;
  margin-top: 3%;
  background-image: url(images_mj/hotell-bild.jpg);
}
.material-symbols-outlined{
  padding-bottom: 4%;
  color: rgb(250, 184, 61);
}
/* min silder bar */
.slider-box-rio {
	padding: 2rem;
  margin-top: 5%;
  margin-bottom: 8%;
}

.slider-wrapper {
	position: relative;
	max-width: 35rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}



/* ny html för sida Bucaneiro  mj */
.mj-hotell-buzios{
  background-size:cover;
  background-repeat: no-repeat;
  padding: 20%;
  margin-top: 3%;
  background-image: url(images_mj/hotel-buzios.jpg);
}





/* media querys till mj-huvud index*/

@media screen and (max-width:765px) {
  .mj-footer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    white-space: nowrap;
  }
}
