body{ 
  height: 1000px;
  padding:0;
  margin:0;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
  }
  
  ul img {
    max-width: 250px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Ändrar länkens färg när musen läggs på texten*/
  li a:hover {
    background-color:gainsboro;
  }

img{
    min-width: 99%;
    max-height: 500px;
    border: 1px solid orange;
}

/* För att få texten "lyxpaket" i mitten och på bilden*/
.centered { 
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.container {
    display:flex;
    justify-content: center;
    background-color:aliceblue;
}

.flex-container > div {
    background-color: white;
    width: 800px;
    border: 1px solid black;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 10px;
}

.img-style { /*Stil för de tre nedre bilderna */
    border: 20px solid rgb(213, 228, 234);
    width: 10px;
    height: 30 px;
}

.img-container {
    display:flex;
    width: 30%;
    padding: 3px;
    margin: 3px 3px;
    justify-content: space-between;

}

/*För att få texten i footern i mitten*/
.mj-footer { 
  text-align: center;
}

.footer-box{
  text-align:center;
}

@media screen and (max-width: 600px) {
  img {
    width: 100%;

  }
}

@media screen and (max-width: 600px) {
  .container{
    flex-direction: column;
  }
}
